<!DOCTYPE html>
<html>
<head>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
table, td {
    border: 1px solid black;
}
</style>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $interval, $timeout, $q){
    $scope.retrievedIP;
    function acceptIP(){
        window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
            var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};      
            pc.createDataChannel("");    //create a bogus data channel
            pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
            pc.onicecandidate = function(ice){  //listen for candidate events
                if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
                var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
                $scope.retrievedIP = myIP;
                pc.onicecandidate = noop;
            };
    }
    acceptIP();
    $scope.sendIP = function(){
            $http({
                method : 'POST',
                url:'/sendIP',
                data: {'retrievedIP': $scope.retrievedIP} 
            }).then(function mySuccess(response){
                console.log($scope.retrievedIP);
                console.log("Success!");
            });
};
    $scope.connect = function(){
            $http({
                method : 'GET',
                url: '/connect',
            }).then(function mySuccess(response){
                console.log("You did it!");
            });
    }

    $scope.buildtable = function(){
            $http({
                method : 'GET',
                url: '/buildtable',
            }).then(function mySuccess(response){
                $scope.ip_list = response.data['iplist'];
                console.log("Received the list")
            });
    }
});

app.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
});
</script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<table id="IP_Address">
  <tr>
    <td>IP Address</td>
  </tr>
  <tr = ng-repeat="x in ip_list">
    <td>{[{x}]}</td>
  </tr>
</table>
<br>
<button ng-click="sendIP()">Send IP</button>
<button ng-click="connect()">Connect</button>
<button ng-click="buildtable()">Append to Table</button>
</div>


</body>
</html>
